/*
  site specific styles
*/

// Bootstrap overrides
.navbar {
  border-radius: 0;
  &.navbar-default,
  &.navbar-inverse {
    .navbar-toggle {
      border:none;
    }
    .navbar-collapse {
      border-top: none;
      box-shadow: none;
    }
  }
}